@font-face {
  font-family: "Candie";
  src: url(./assets/fonts/EmilysCandy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Candie", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  cursor: pointer;
}
nav {
  width: 100%;
  height: 50px;
  background-color: #0a0a0a4e;
  box-shadow: inset rgba(54, 38, 48, 0.3) 0px 2px,
    inset rgba(54, 38, 48, 0.25) 0px 4px, inset rgba(54, 38, 48, 0.2) 0px 6px,
    inset rgba(54, 38, 48, 0.15) 0px 8px, inset rgba(54, 38, 48, 0.1) 0px 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 1.5rem;
  height: 50px;
}

nav ul li {
  margin: 0 50px;
}

nav ul li a {
  color: whitesmoke;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  color: black;
  font-size: 1.8rem;
  border-bottom: 3px solid black;
}

h2 {
  font-family: "Candie", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

h2 i {
  padding-left: 20px;
  padding-right: 20px;
}

.trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caroussel {
  position: relative;
  width: 400px;
  height: 530px;
  border: 4px solid transparent;
  margin: 50px auto 50px;
  padding-bottom: 40px;
  overflow: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  width: 50%;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

h2:hover {
  font-size: 1.5rem;
}

#corseRight,
#londonRight,
#nantesRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

#corseLeft,
#londonLeft,
#nantesLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

#londonContainer,
#corseContainer,
#nantesContainer {
  width: 400px;
  height: 530px;
}

.photo {
  width: 400px;
  height: 530px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 700px) {
  nav {
    height: 180px;
    margin: 0 auto 100px;
  }
  nav ul {
    display: block;
    text-align: center;
  }

  nav ul li {
    padding-top: 25px;
  }
}

@media screen and (max-width: 550px) {
  .caroussel {
    width: 300px;
    height: 400px;
  }

  button {
    z-index: 20;
    font-size: 0.7rem;
    letter-spacing: 1px;
    background-color: rgba(11, 11, 11, 0.498);
  }

  h2 {
    color: azure;
  }

  h2:hover {
    display: none;
  }

  .photo {
    width: 300px;
    height: 400px;
  }
}
